.item{

  background: #141414;
  flex-direction: row;

  
}

.slide-container{
 margin: 0 auto;
 overflow: hidden;
  padding-bottom: 35px; 
  padding-top: 10px;
}

.slide{
  display: flex;
   cursor: move;
   flex-wrap: nowrap;
  
}

.img{
  height:100%;
   width: 308px;
   pointer-events: none;
    flex-wrap: wrap;
  }

  p{
    color: #e5e5e5;
    font-size: 25px;
    background-color:#141414;
    margin: 0;
    text-align: center; 

  }