.navBar{
  background-color: transparent;
  padding-bottom: 3rem;
  
  height: 2rem;
  
}
.logo{
  margin-left: -1.5rem;
  margin-top: 2rem;
}

.nav{
  margin-top: 2rem;
  
}

.link-nav{
  margin-top: 0.5rem;
  color: #e5e5e5;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 15px;
  text-decoration: none;
}

.link-nav:hover{
  color: #cfc9c9
}